
body {
    font-family: "Lato", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: #5c6b80;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    background: #f5f5f5 !important;
}
